<div class="container">
  <div class="charts" data-controller="chart">
    <div id="co2" class="gaz">
      <canvas data-chart-target="co2" data-measures-value="<%= @rooms.map(&:measures).to_json %>" width="500" height="250" data-timestamps-value="<%= @timestamps.to_json %>"></canvas>
    </div>
    <div id="hum" class="gaz">
      <canvas data-chart-target="hum" data-measures-value="<%=  %>" width="800" height="450"></canvas>
    </div>
    <div id="tmp" class="gaz">
      <canvas data-chart-target="tmp" data-measures-value="<%=  %>" width="800" height="450"></canvas>
    </div>
    <div id="voct" class="gaz">
      <canvas data-chart-target="voct" data-measures-value="<%=  %>" width="800" height="450"></canvas>
    </div>
  </div>
</div>
